.container-header {
  display: flex;
  justify-content: space-around;
  margin: 40px 40px 40px 40px;
  align-items: center;

  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  border-radius: 10px;
}

#total-despensa {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  color: #003BE5;
}

#email {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #2FC18C;
}

.title {
  font-family: fantasy;

  color: #2FC18C;
}